.cover__link {
    text-decoration: none;
    min-height: 62.5vw;
    max-width: 1184px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (min-width: 1184px) {
    .cover__link{
      min-height: 740px;
    }    
}
