.intro__list {
  margin: 0;
  list-style: none;
  padding: 0 16px 64px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */
  color: #FFFFFF;
  min-width: 100vw;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .intro__list {
    padding: 0 24px 88px;
  }
}

@media (min-width: 1024px) {
  .intro__list {
    padding: 0 286px 92px 48px;
  }
}

@media (min-width: 1280px) {
  .intro__list {
    padding: 0 442px 92px 148px;
  }
}