.intro__list {
  margin: 0;
  list-style: none;
  padding: 0 16px 64px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  min-width: 100%;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .intro__list {
    padding: 0 24px 88px;
  }
}

@media (min-width: 1024px) {
  .intro__list {
    padding: 0 0px 92px 48px;
  }
}

@media (min-width: 1280px) {
  .intro__list {
    padding: 0 0px 92px 148px;
  }
}