.header__language-links {
    margin: 0;
    padding: 0;
    display: flex;
    column-gap: 18px;
    list-style: none;
    padding-top: 6px;
}

@media (min-width: 768px) {
    .header__language-links {
      padding-top: 14px;
    }
}
