.lead__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  /* or 110% */
  color: #FFFFFF;
  text-align: center;
  margin: 0;
  padding: 0 16px 16px;
}