.place__paragraph {
  margin: 0;
  padding: 25px 16px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26.08px;
  /* or 26px */
  color: #FFFFFF;
}

@media (min-width: 768px) {
  .place__paragraph {
    padding: 0;
  } 
}

@media (min-width: 1024px) {
  .place__paragraph {
    font-size: 18px;
    line-height: 29.34px;
  }
}

