.intro {
  padding-top: 64px;
  max-width: 1280px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .intro {
    padding-top: 88px;
  }
}
@media (min-width: 1024px) {
  .intro {
    padding-top: 92px;
  }
}
