.website {
 padding-bottom: 32px;
}

@media (min-width: 768px) {
    .website {
      padding: 0;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
    }
}