.photo-grid__image {
  width: 288px;
  height: 216px;
}


@media (min-width: 768px) {
  .photo-grid__image {
    width: 352px;
    height: 264px;
  } 
}

@media (min-width: 768px) {
  .photo-grid__image {
    width: 300px;
    height: 225px;
  }
}